rs-claim {
  display: block;
}

rs-claim ul {
  padding: 0, 0, 0, 15px;
  margin: 0;
}

rs-claim li {
  list-style-type: none;
}

input[type=checkbox] {
  transform: scale(2);
}

.form-check {
  padding-left: 1.75rem;
}

label {
  margin-bottom: 0;
}

.container {
  margin-left: 0;
}

.claim {
  line-height: 1.25;
  max-width: 600px;
  position: relative;
  color: #555;
  border: 1px lightgrey solid;
  display: block;
  overflow: visible;
  box-sizing: border-box;
  border-radius: 1em;
  background: #ECECEC;
  padding: .25em;
  padding-bottom: 2px;
  font-size: 100%;
  z-index: 1;
  margin: 0 10px 10px 10px;
}

.claim.pro {
  background-color: #c880ff;
  color: white;
  border-color: #c880ff;
}

.claim.con {
  background-color: #ffa71a;
  color: white;
  border-color: #ffa71a;
}

.claim .score {
  display: block;
  float: left;
  font-size: 2.3em;
  padding-right: .2em;
  max-width: 10em;
  transition: .5s;
  overflow: hidden;
  line-height: 1.1;
  padding-left: 5px;
  opacity: .75;
}

.claim-inner {
  min-height: 2.5em;
  padding: 0px 0px 0px 10px;
}

.claim-inner a {
  color: #ffffff;
  text-decoration: underline;
}

.claim-outer {
  position: relative;
}

.claim-outer>ul {
  margin: 0 0 0 20px;
  width: 100%;
  padding: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
  transition: max-height 500ms ease-in;
  overflow: hidden;
}

.expander {
  cursor: pointer;
  color: white;
  position: absolute;
  bottom: 2px;
  left: 4px;
  z-index: 2;
  transition: transform .3s;
  opacity: .5;
}

.collapsed {
  transform: rotate(45deg);
}

.expanded {
  transform: rotate(135deg);
}

.editor-button {
  cursor: pointer;
  position: absolute;
  opacity: .5;
  right: 5px;
  fill: white;
  top: 0;
}

.add-button {
  cursor: pointer;
  position: absolute;
  opacity: .5;
  top: 20px;
  right: 5px;
}

form {
  padding: 10px 10px 10px 20px;
}