rs-score {
  // Import Bootstrap and its default variables
  //TODO: Shrink down bootstrap to just the necessary items
  //TODO: Separate the editor CSS from the viewer so the viewer css is smaller
  @import "~bootstrap/scss/bootstrap.scss";

  display: block;
  max-width: 700px;

  ul {
    padding: 0, 0, 0, 15px;
    margin: 0;
  }

  li {
    list-style-type: none;
    width: 100%;
    margin-left: 30px;
  }

  .container {
    margin-left: 20px;
    max-width: 600px;
  }

  input[type="checkbox"] {
    transform: scale(2);
    transform-origin: left;
    margin-right: 20px;
    top: 1px;
    position: relative;
  }

  .form-check {
    padding-left: 1.75rem;
  }

  label {
    margin-bottom: 0;
  }

  .claim {
    line-height: 1.25;
    max-width: 600px;
    position: relative;
    color: #555;
    border: 1px lightgrey solid;
    display: block;
    overflow: visible;
    box-sizing: border-box;
    border-radius: 1em;
    background: #ececec;
    padding: 0.25em;
    padding-bottom: 2px;
    font-size: 100%;
    z-index: 1;
    margin: 0 10px 10px 10px;
  }

  .pro {
    background-color: #c880ff;
    color: white;
    border-color: #c880ff;
    .callout {
      left: -21px;
      fill: #c880ff;
      transform: scaleX(-1);
    }
  }

  .con {
    background-color: #ffa71a;
    color: white;
    border-color: #ffa71a;
    .callout {
      right: -21px;
      fill: #ffa71a;
    }
  }

  .callout {
    position: absolute;
    bottom: -3px;
    z-index: -1;
  }

  .claim-hider {
    max-height: 150px;
    overflow: hidden;
    transition: 0.75s;
  }

  .children.hide {
    display: block;
  }

  .children.hide li > div > .claim-hider {
    max-height: 0px;
  }

  .score-enter > div > .claim-hider {
    max-height: 0;
  }
  .score-enter-active > div > .claim-hider {
    max-height: 100px;
    transition: max-height 500ms ease-in;
  }

  .score-exit > div > .claim-hider {
    max-height: 100px;
  }
  .score-exit-active > div > .claim-hider {
    max-height: 0;
    transition: max-height 500ms ease-in;
  }

  .claim-inner {
    padding: 0px 0px 0px 20px;
    min-height: 2.5em;
    max-height: 6em;
    overflow-y: auto;
    margin-right: 20px;
  }

  .claim-inner a {
    color: #ffffff;
    text-decoration: underline;
  }

  .claim-inner::-webkit-scrollbar {
    width: 0.5em;
  }

  .claim-inner::-webkit-scrollbar-track {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  }

  .claim-inner::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }

  .claim-outer {
    position: relative;
  }

  .claim-outer > ul {
    padding: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
    transition: max-height 500ms ease-in;
    // display: inline-block;
  }

  .content p:first-of-type {
    display: inline;
  }

  .content p:last-of-type {
    margin-bottom: 0;
  }

  .score-description {
    display: inline-block;
    overflow: hidden;
    transition: 1s;
    white-space: nowrap;
    vertical-align: top;

    max-width: 0;
    margin-right: 0;
  }
  .s-scoreDescription {
    .score-description {
      max-width: 100%;
      padding-right: 0.3em;
      border-right: 1px solid #ffffff91;
      margin-right: 0.3em;
    }
  }

  .expander {
    cursor: pointer;
    fill: white;
    position: absolute;
    bottom: 9px;
    left: opx;
    z-index: 2;
    transition: transform 0.3s;
    opacity: 0.5;
  }

  .expanded {
    transform: rotate(90deg);
  }

  .editor-enter {
    height: 0;
    overflow: hidden;
  }
  .editor-enter-active {
    height: 200px;
    transition: height 500ms;
    overflow: hidden;
  }
  .editor-enter-done {
    height: unset;
    transition: height 500ms;
    overflow: hidden;
  }
  .editor-exit {
    height: 200px;
    overflow: hidden;
  }
  .editor-exit-active {
    height: 0px;
    transition: height 500ms;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    max-width: 600px;
    overflow: hidden;
  }

  .editor-button {
    cursor: pointer;
    position: absolute;
    opacity: 0.5;
    right: 5px;
    fill: white;
    top: 0;
    transition: 1s;
    overflow: hidden;
    width: 0;
  }

  .add-button {
    cursor: pointer;
    position: absolute;
    opacity: 0.5;
    top: 20px;
    right: 5px;
    transition: 1s;
    overflow: hidden;
    width: 0;
  }

  form {
    padding: 10px 10px 10px 20px;
  }

  /* Settings */
  .settings-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    border: 1px solid grey;
    border-radius: 1em;
    padding: 1em;
  }

  .settings-container {
    max-height: 0;
    overflow: hidden;
    transition: 1s;
    max-width: 610px;
  }

  .show-settings {
    max-height: 1000px;
    margin-bottom: 0.5rem;
  }

  .s-editable {
    .editor-button {
      width: 15px;
    }
    .add-button {
      width: 15px;
    }
  }

  /* Visulaizations */

  .numbers {
    display: block;
    float: left;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    /* Closed */
    max-width: 0px;
    padding: 0;
    margin: 0;
    border: none;
  }

  .s-numbers .numbers {
    max-width: 10em;
    padding-right: 0.3em;
    border-right: 1px solid #ffffff91;
    margin-right: 0.3em;
    text-align: right;
  }

  .s-largeNumbers .numbers {
    font-size: 2.3em;
    line-height: 1;
    top: -2px;
    opacity: 0.75;
    border: none;
    margin: 0;
    min-width: unset;
    padding-right: 0.2em;
  }

  .lines {
    transition: 0.5s;
    height: 0;
    position: relative;
    overflow: hidden;
    font-size: small;
    top: 5px;
    span {
      opacity: 0.8;
      position: absolute;
      top: -3px;
    }
    span.min {
      left: 5px;
    }
    span.mid {
      left: 50%;
      transform: translate(-50%);
    }
    span.max {
      right: 5px;
    }
  }

  .lines-inner {
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-top: none;
    height: 50%;
  }
  .lines-circle-container {
    position: absolute;
    left: -9px;
    width: 100%;
    top: 5px;
  }
  .lines-circle {
    height: 17px;
    width: 17px;
    border: 4px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    transition: 1s;
    position: relative;
  }

  .edit-lines {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
  }

  .s-lines {
    .lines {
      height: 30px;
    }
    .edit-lines {
      max-height: 150px;
    }
  }
}
