rs-score, .rs-score {
  // Original colors
  --pro-foreground: white;
  --pro-background: #c880ff;
  --con-foreground: white;
  --con-background: #ffa71a;
  --line-subtle: rgba(0, 0, 0, 0.2);

  // //Accessible
  // --pro-foreground: white;
  // --pro-background: #960DB0;
  // --con-foreground: #1D1D1D;
  // --con-background: #FF8812;

  // Import Bootstrap and its default variables
  //TODO: Shrink down bootstrap to just the necessary items
  //TODO: Separate the editor CSS from the viewer so the viewer css is smaller
  @import "~bootstrap/scss/bootstrap.scss";

  display: block;
  max-width: 700px;

  a, a:hover {
    color: var(--pro-background);
  }

  .rs-content {
    p {
      margin-top: 1rem;
    }
    ul {
      overflow: auto;
      padding-left: 1em;
      margin-bottom: 0;
    }
  }

  ul.children {
    padding: 0, 0, 0, 15px;
    margin: 0;
    li {
      list-style-type: none;
      width: 100%;
      margin-left: 30px;
      border-left: 1px solid var(--line-subtle);
    }
    li:last-child {
      border-bottom-left-radius: 10px;
      // padding-bottom: 10px;
      transition: 0.5s;
    }

    .hide li:last-child {
      padding-bottom: 0;
    }
  }

  .container {
    margin-left: 20px;
    max-width: 600px;
  }

  input[type="checkbox"].form-check {
    transform: scale(2);
    transform-origin: left;
    margin-right: 20px;
    top: 1px;
    position: relative;
  }

  .form-check {
    padding-left: 1.75rem;
  }

  label {
    margin-bottom: 0;
  }

  .claim {
    line-height: 1.25;
    max-width: 600px;
    position: relative;
    color: #555;
    border: 1px lightgrey solid;
    display: block;
    overflow: visible;
    box-sizing: border-box;
    border-radius: 1em;
    background: #ececec;
    padding: 0.25em;
    padding-bottom: 2px;
    font-size: 100%;
    z-index: 1;
    margin: 10px 10px 0px 10px;
  }

  .pro {
    --foreground: var(--pro-foreground);
    --background: var(--pro-background);
    background-color: var(--pro-background);
    color: var(--pro-foreground);
    border-color: var(--pro-background);
    .callout {
      left: -11px;
    }
  }

  .con {
    --foreground: var(--con-foreground);
    --background: var(--con-background);
    background-color: var(--background);
    color: var(--con-foreground);
    border-color: var(--con-background);
    .callout {
      right: -11px;
      transform: scaleX(-1);
    }
  }

  .callout {
    position: absolute;
    top: -1px;
    z-index: -1;
    fill: var(--background);
  }

  .claim-hider {
    max-height: 5000px;
    overflow: hidden;
    transition: 1s;
  }

  .children.hide {
    display: block;
  }


  .more-info {
    text-decoration: underline;
    font-size: small;
    opacity: 0.8;
    display: inline-block;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.5s;
    vertical-align: text-bottom;
    cursor: pointer;
  }

  .s-moreInfo .more-info {
    max-width: 10em;
  }

  .scoreInfo {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    margin-left: 30px;
    border-left: 1px solid var(--line-subtle);
    padding-left: 12px;
    opacity: 0.8;
  }

  // expanders
  .expander {
    //TODO: remove old expander
    display: none;
    cursor: pointer;
    fill: white;
    position: absolute;
    bottom: 9px;
    left: opx;
    z-index: 2;
    transition: transform 0.3s;
    opacity: 0.5;
  }
  .expanded {
    transform: rotate(90deg);
  }

  .expander2 {
    display: none;
  }
  .expander2-label,
  .expander3 {
    position: absolute;
    left: -5px;
    z-index: 2;
    //opacity: 0.3;
    display: none;
  }
  .expander2-label {
    top: 43px;
    left: 46px;
    color: white;
    opacity: 0.75;
    font-size: small;
  }
  .expander3 {
    top: 35px;
    opacity: 0.3;
  }

  > div > .claim-outer > .expander2-label,
  .expander2:checked ~ .expander2-label {
    display: unset;
  }
  .expander2:not(:checked) ~ ul > li > div > .claim-hider {
    max-height: 0px;
  }
  .expander2:checked ~ ul > li > div {
    > .expander2-label
    {
      display: unset;
    }
  }

  .expander2:not(:checked) + .expander3:not(:checked) ~ .rs-bucket-fill{
      max-height:0 !important;
  }

  .expander3:checked ~ .claim-hider {
    max-height: 5000px !important;
  }

  .expander2:checked ~ .claim-hider {
    max-height: 20em !important;
    .claim-inner {
      max-height: 18em;
    }
  }

  .expander2:checked ~ .claim-hider .more-info {
    max-width: 0;
  }

  .expander2:checked ~ .scoreInfo {
    max-height: 20em;
  }

  .score-enter > div > .claim-hider {
    max-height: 0;
  }
  .score-enter-active > div > .claim-hider {
    max-height: 500px;
    transition: max-height 500ms ease-in;
  }

  .score-exit > div > .claim-hider {
    max-height: 500px;
  }
  .score-exit-active > div > .claim-hider {
    max-height: 0;
    transition: max-height 500ms ease-in;
  }

  .claim-inner {
    padding: 0px 0px 0px 5px;
    // min-height: 2.5em;
    // max-height: 4.5em;
    overflow-y: auto;
    transition: 0.5s;
  }

  .claim-inner a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: normal;
  }

  .claim-inner::-webkit-scrollbar {
    width: 0.6em;
  }

  .claim-inner::-webkit-scrollbar-track {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0px 1em 1em 0px;
  }

  .claim-inner::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 1em 1em 0px;
  }

  .claim-outer {
    position: relative;
  }

  .claim-outer > ul {
    padding: 0;
    transition: max-height 500ms ease-in;
    // display: inline-block;
  }

  .rs-content p:first-of-type {
    display: inline;
  }

  .rs-content p:last-of-type {
    margin-bottom: 0;
  }

  .rs-content img {
    max-width: 40%;
    float: right;
  }

  .score-description {
    display: inline-block;
    overflow: hidden;
    transition: 1s;
    white-space: nowrap;
    vertical-align: top;

    max-width: 0;
    margin-right: 0;
  }
  .s-scoreDescription {
    .score-description {
      max-width: 100%;
      padding-right: 0.3em;
      margin-right: 0.3em;
      border-right: 1px solid #ffffff70;
      border-bottom: 1px solid #ffffff70;
      border-bottom-right-radius: 7px;
    }
    sub {
      opacity: 0.5;
    }
  }

  .editor-enter {
    height: 0;
    overflow: hidden;
  }
  .editor-enter-active {
    height: 200px;
    transition: height 500ms;
    overflow: hidden;
  }
  .editor-enter-done {
    height: unset;
    transition: height 500ms;
    overflow: hidden;
  }
  .editor-exit {
    height: 200px;
    overflow: hidden;
  }
  .editor-exit-active {
    height: 0px;
    transition: height 500ms;
    border-bottom: 2px solid var(--line-subtle);
    max-width: 600px;
    overflow: hidden;
  }

  .editable {
    opacity: 0.7;
    overflow: hidden;
    display: none;
  }
  .s-editable {
    .editable {
      display: inline;
    }
  }

  button.btn-inline {
    margin: 2px 0.1em;
    padding: 1px 0.5em;
    border-radius: 5px;
    border: 1px solid grey;
  }

  form {
    padding: 10px 10px 10px 20px;
  }

  /* Settings */
  .settings-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    border: 1px solid grey;
    border-radius: 1em;
    padding: 1em;
  }

  .settings-container {
    max-height: 0;
    overflow: hidden;
    transition: 1s;
    max-width: 610px;
  }

  .show-settings {
    max-height: 1000px;
    margin-bottom: 0.5rem;
  }

  /* Visulaizations */

  .numbers {
    display: block;
    float: left;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    /* Closed */
    max-width: 0px;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    .sign {
      font-size: smaller;
      vertical-align: top;
      display: inline-block;
      width: .6em;
      text-align: center;
    }
    .number {
      display: inline-block;
    }
  }

  .s-numbers .numbers {
    max-width: 10em;
    padding-right: 0.3em;
    border-right: 1px solid #ffffff91;
    margin-right: 0.3em;
    text-align: right;
  }

  .s-numbers.s-largeNumbers .numbers {
    font-size: 2.3em;
    line-height: 1;
    top: -2px;
    opacity: 0.75;
    border: none;
    margin: 0;
    min-width: unset;
    padding-right: 0em;
    position: relative;
    left: -5px;
  }

  .s-hideMainScore .mainclaim .numbers{
    max-width: 0;
  }

  .lines {
    transition: 1s;
    height: 0;
    position: relative;
    overflow: hidden;
    font-size: small;
    border-color: var(--foreground);
    span {
      position: absolute;
      top: 4px;
    }
    span.min {
      left: 13px;
    }
    span.mid {
      left: 50%;
      transform: translate(-50%);
    }
    span.max {
      right: 13px;
    }
    .tic {
      width: 0;
      height: 10px;
      position: absolute;
      border: 1px solid;
      bottom: -5px;
      transform: translate(-50%);
    }
  }

  .lines-inner {
    border-bottom: 1px solid;
    margin: 0;
    height: 20px;
    position: relative;
    margin: 0 10px;
    opacity: .7;
  }

  .lines-pointer {
    transform: translate(-50%);
    fill: var(--foreground);
    position: absolute;
    transition: 3s;
  }

  .edit-lines {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
  }

  .s-lines {
    .lines {
      height: 30px;
    }
    .edit-lines {
      max-height: 150px;
    }
    .claim-inner {
      max-height: 6.4em;
    }
  }
}
